* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 16px;
  scroll-behavior: smooth;
  position: relative;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* responsive */
.footer {
  background-color: #edf0f5;
  position: relative;
  overflow: hidden;
}

.footer .container {
  padding: 3rem;
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.footer .container .content {
  grid-column: 1 / span 2;
}

.footer .container .content .footer__detail-logo img {
  width: 200px;
  height: 30px;
}

.footer .container .content .footer__detail-intro .footer__detail-text {
  width: 70%;
  padding-top: 1.9rem;
  color: #464646;
  font-size: 16px;
  line-height: 1.7rem;
}

.footer .container .content .footer__detail-intro .footer__detail-media i {
  padding: 1.5rem 2.6rem 1.5rem 0;
}

.footer .container .footer__detail-title {
  margin-bottom: 20px;
  height: 30px;
}

.footer .container .footer__detail p a {
  color: #4b4b4b;
  font-size: 16px;
}

.footer .container .footer__detail #detail-intro p {
  line-height: 2.09;
}

.footer .container .footer__detail-intro {
  height: 200px;
}

.footer__image img:nth-child(1) {
  position: absolute;
  bottom: -70px;
  left: -183px;
  height: 350px;
  width: 350px;
  opacity: 0.10000000149011612;
}

.footer__image img:nth-child(2) {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 87px;
  width: 87px;
  opacity: 0.23000000417232513;
}

.banner {
  background-color: #edf0f5;
  position: relative;
  overflow: hidden;
}

.banner .container {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 48% 49% 3%;
}

.banner .container .banner__title .banner__title--heading {
  font-size: 4.5rem;
  padding-top: 7rem;
  padding-bottom: 0.375rem;
  color: #232323;
}

.banner .container .banner__title p:nth-child(2) {
  color: #707070;
  font-size: 1.44rem;
}

.banner .container .banner__title .btn__primary {
  margin-top: 4.7rem;
}

.banner .container .banner__image {
  position: relative;
  display: flex;
}

.banner .container .banner__image img:nth-child(1) {
  width: 688px;
  height: 678px;
  padding-top: 3rem;
  z-index: 100;
}

.banner .container .banner__image img:nth-child(2) {
  width: 405px;
  height: 405px;
  position: absolute;
  opacity: 0.5;
  top: 33px;
}

.banner .container .banner__image img:nth-child(3) {
  width: 364px;
  height: 364px;
  position: absolute;
  bottom: 32px;
  left: -19px;
  opacity: 0.5;
}

.banner .container .banner__image img:nth-child(4) {
  width: 364px;
  height: 364px;
  position: absolute;
  bottom: 32px;
  right: -19px;
  opacity: 0.5;
}

.banner .container .banner__image img:nth-child(5) {
  width: 592px;
  height: 590px;
  position: absolute;
  bottom: -26px;
  opacity: 0.5;
}

.banner .container .pagenation {
  position: absolute;
  bottom: 22px;
  color: #707070;
  font-size: 1.44rem;
}

.banner .container .pagenation span:first-child {
  vertical-align: sub;
  color: #000000;
  font-size: 2rem;
}

.banner .banner__media {
  position: absolute;
  top: 120px;
  right: 80px;
}

.banner .banner__media i {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.banner .circle {
  height: 168px;
  width: 168px;
  position: absolute;
  right: -55px;
  opacity: 0.23000000417232513;
  top: 10px;
}

.banner .arrow {
  position: absolute;
  right: 110px;
  bottom: 97px;
  font-size: 15px;
}

.banner .arrow i:first-child {
  background-color: #ffffff;
  padding: 30px 28px;
}

.banner .arrow i:nth-child(2) {
  background-color: #ffffff;
  padding: 30px 28px;
  margin-left: 1.5rem;
}

.policy__sale .container {
  width: 70%;
  margin: 0 auto;
  padding: 3.75rem 0;
}

.policy__sale .container .policy__box {
  margin-right: -4.7rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.policy__sale .container .policy__box .policy__box--content {
  display: flex;
}

.policy__sale .container .policy__box .policy__box--content .img_policy {
  margin-right: 1rem;
}

.policy__sale .container .policy__box .policy__box--content .ship {
  width: 48px;
  height: 31px;
}

.policy__sale .container .policy__box .policy__box--content .payment {
  width: 26px;
  height: 35px;
}

.policy__sale .container .policy__box .policy__box--content .money {
  width: 44px;
  height: 39px;
}

.policy__sale .container .policy__box .policy__box--content .support {
  width: 33px;
  height: 38px;
}

.policy__sale .container .policy__box .policy__box--content .policy__text p:first-child {
  padding-bottom: 1rem;
}

.policy__sale .container .policy__box .policy__box--content .policy__text span {
  color: #707070;
  font-size: 16px;
}

.policy__sale .sale__banner {
  padding-bottom: 3.75rem;
  margin: 0 3.5rem;
  display: grid;
  grid-template-columns: 60% 40%;
}

.policy__sale .sale__banner-left {
  position: relative;
  background-color: #fff1ba;
  display: grid;
  grid-template-columns: 50% 50%;
}

.policy__sale .sale__banner-left-content {
  padding-top: 5.1rem;
  padding-left: 2.6rem;
  font-weight: 500;
}

.policy__sale .sale__banner-left-content p {
  font-size: 3rem;
}

.policy__sale .sale__banner-left .sale__banner-left-image {
  position: absolute;
  bottom: 0;
  right: 20px;
}

.policy__sale .sale__banner-left .sale__banner-left-image img {
  width: 553px;
  height: 418px;
}

.policy__sale .sale__banner-right {
  background-color: #f1f2f3;
  display: grid;
  grid-template-columns: 35% 65%;
}

.policy__sale .sale__banner-right-content {
  padding-top: 5.1rem;
  padding-left: 2.6rem;
  font-weight: 500;
}

.policy__sale .sale__banner-right-content p {
  font-size: 3rem;
}

.policy__sale .sale__banner-right .sale__banner-right-image {
  padding-top: 3.1rem;
  padding-right: 40px;
}

.policy__sale .sale__banner-right .sale__banner-right-image img {
  width: 321px;
  height: 516px;
}

.product .container {
  width: 70%;
  margin: 0 auto;
}

.product .container .product__title {
  text-align: center;
}

.product .container .product__title h1 {
  font-weight: 400;
}

.product .container .product__title p {
  color: #707070;
  font-size: 1.1rem;
  padding: 1.1rem;
}

.product .container .product__nav-box {
  display: flex;
  justify-content: center;
}

.product .container .product__nav-box li {
  list-style: none;
  padding-left: 1.5rem;
}

.product .container .product__nav-box li a {
  color: #4b4b4b;
  font-weight: 400;
}

.product .container .product__nav-box .active {
  position: relative;
  padding-bottom: 5px;
}

.product .container .product__nav-box .active a {
  color: #f04639;
}

.product .container .product__nav-box .active a::after {
  position: absolute;
  content: "";
  width: 70%;
  height: 1px;
  background-color: #f04639;
  color: #f04639;
  bottom: 0;
  left: 24px;
}

.trending__banner {
  padding-bottom: 3.75rem;
  gap: 20px;
  display: grid;
  grid-template-columns: 48% auto;
}

.trending__banner-left {
  position: relative;
  background-color: #fdeae6;
  display: grid;
  grid-template-columns: 45% 55%;
}

.trending__banner-left-content {
  padding-top: 5.1rem;
  padding-left: 2.6rem;
  font-weight: 500;
}

.trending__banner-left-content p {
  font-size: 2.6rem;
}

.trending__banner-left .trending__banner-left-image {
  position: absolute;
  bottom: 0;
  right: 20px;
}

.trending__banner-left .trending__banner-left-image img {
  width: 431px;
  height: 503px;
}

.trending__banner-right {
  background-color: #f1f2f3;
  display: grid;
  grid-template-columns: 35% 65%;
}

.trending__banner-right-content {
  padding-top: 5.1rem;
  padding-left: 2.6rem;
  font-weight: 500;
}

.trending__banner-right-content p {
  font-size: 3rem;
}

.trending__banner-right .trending__banner-right-image {
  padding-top: 3.1rem;
  padding-left: 110px;
}

.trending__banner-right .trending__banner-right-image img {
  width: 290px;
  height: 500px;
}

.best__seller .container {
  width: 70%;
  margin: 0 auto;
}

.best__seller .container .best__seller-title {
  text-align: center;
}

.best__seller .container .best__seller-title h1 {
  font-weight: 500;
}

.best__seller .container .best__seller-title p {
  color: #707070;
  font-size: 1.1rem;
  padding: 1.1rem;
}

.limited {
  margin-top: 75px;
}

.limited__left {
  width: 90%;
  display: grid;
  grid-template-columns: 65% 30%;
}

.limited__left-content {
  margin: 3rem 0 3rem 3rem;
}

.limited__left-content .btn__secondary {
  display: block;
  margin-bottom: 3rem;
}

.limited__left-content .limited__left-title {
  font-size: 2.3rem;
}

.limited__left-content .sale {
  color: #e60023;
  font-size: 3rem;
}

.limited__left-timing ul {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
}

.limited__left-timing ul li {
  list-style: none;
  font-size: 3rem;
}

.limited__left-timing ul li span {
  color: #e60023;
  font-size: 1.1rem;
  padding-left: 0.375rem;
}

.limited__right {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0 7px 24px 0;
  width: 80%;
  transform: translate(25%, -45%);
  z-index: 100;
  background-color: #ffffff;
}

.limited__right .limited__nav {
  margin-top: 3rem;
  display: flex;
  justify-content: end;
  padding: 2.6rem 12.3rem 1.5rem 0;
}

.limited__right .limited__nav li {
  list-style: none;
  padding-left: 1.5rem;
}

.limited__right .limited__nav li a {
  font-weight: 400;
  color: #4b4b4b;
  font-size: 1.3rem;
}

.limited__right .limited__nav .active {
  position: relative;
  padding-bottom: 5px;
}

.limited__right .limited__nav .active a {
  color: #f04639;
}

.limited__right .limited__nav .active a::after {
  position: absolute;
  content: "";
  width: 70%;
  height: 1px;
  background-color: #f04639;
  color: #f04639;
  bottom: 0;
  left: 24px;
}

.limited__right .limited__product {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.limited .limited__arrow-left {
  background-color: #ffffff;
  padding: 30px 28px;
  width: 80px;
  bottom: 50%;
  left: 50px;
  position: absolute;
  vertical-align: middle;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 8px 0;
}

.limited .limited__arrow-right {
  background-color: #ffffff;
  padding: 30px 28px;
  width: 80px;
  bottom: 50%;
  right: 50px;
  position: absolute;
  vertical-align: middle;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 8px 0;
}

.newsLetter .newsLetter__img {
  position: relative;
}

.newsLetter .newsLetter__img img {
  transform: translateY(-30%);
}

.newsLetter__form {
  background-color: #ffffff;
  width: 67%;
  margin: 0 252px;
  position: absolute;
  bottom: 8px;
  background-color: #ffffff;
}

.newsLetter__form-title {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 5.1rem 10rem;
  text-align: center;
  border-radius: 0.2rem;
}

.newsLetter__form-title span {
  color: #464646;
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

.newsLetter__form-title p:nth-child(1) {
  margin-bottom: 5px;
}

.newsLetter__form-title p:nth-child(2) {
  color: #707070;
  font-size: 1.3rem;
}

.newsLetter__form-info {
  position: relative;
  bottom: -30px;
  align-items: center;
  align-content: center;
}

.newsLetter__form-info input {
  width: 70%;
  border: none;
  height: 47px;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 4px 20px;
  padding: 20px;
  color: #bebebe;
}

.newsLetter__form-info button {
  position: absolute;
  right: 110px;
  top: 6px;
  font-size: 1.1rem;
}

.instagram {
  padding: 5.1rem 0;
}

.instagram__content {
  text-align: center;
}

.instagram__content h1 {
  font-weight: 400;
}

.instagram__content span {
  display: inline-block;
  padding: 1.5rem 0 2.6rem 0;
  color: #707070;
  font-size: 1.1rem;
  font-weight: 100;
}

.instagram__image {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 0 30px;
}

.instagram__image img {
  width: 356px;
  height: 361px;
}

.btn__primary {
  margin-top: 3.5rem;
  color: #ffffff;
  background-color: #f04639;
  border: 1px solid #f04639;
  border-radius: 0.2rem;
  font-size: 16px;
  font-weight: 400;
  padding: 1.1rem 1.5rem;
  box-shadow: rgba(240, 70, 57, 0.2) 0px 12px 28px 0px, rgba(240, 70, 57, 0.1) 3px 3px 4px 2px, rgba(240, 70, 57, 0.5) 0px 0px 0px 1px inset;
  cursor: pointer;
}

.btn__white {
  margin-top: 3.5rem;
  color: #232323;
  background-color: transparent;
  border: 1px solid #232323;
  border-radius: 0.2rem;
  font-size: 16px;
  font-weight: 400;
  padding: 1.1rem 1.5rem;
  box-shadow: none;
  cursor: pointer;
}

.product__button .btn__card {
  color: #ffffff;
  background-color: #f04639;
  border: 1px solid #f04639;
  border-radius: 0.2rem;
  font-size: 16px;
  font-weight: normal;
  padding: 0.375rem 1.1rem;
  box-shadow: none;
  cursor: pointer;
}

.product__button .btn__detail {
  color: #ffffff;
  background-color: #f04639;
  border: 1px solid #f04639;
  border-radius: 0.2rem;
  font-size: 16px;
  font-weight: normal;
  padding: 0.375rem 0.5rem;
  box-shadow: none;
  cursor: pointer;
  margin-left: 5px;
}

.img__sale p {
  position: absolute;
  color: #ffffff;
  background-color: #e60023;
  border: 1px solid #e60023;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 700;
  padding: 0.5rem;
  line-height: 30px;
  left: 10px;
  top: 10px;
  height: 50px;
  width: 50px;
}

.img__new {
  text-align: center;
}

.img__new p {
  position: absolute;
  color: #ffffff;
  background-color: #232323;
  border: 1px solid #232323;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 700;
  padding: 0.5rem;
  line-height: 30px;
  left: 10px;
  top: 10px;
  height: 50px;
  width: 50px;
}

.btn__secondary {
  color: #ffffff;
  background-color: #f04639;
  border: 1px solid #f04639;
  border-radius: 0.2rem;
  font-size: 1.3rem;
  font-weight: normal;
  padding: 0.375rem 1.1rem;
  box-shadow: none;
  cursor: pointer;
}

.card__wrap {
  padding: 1.5rem;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.card__wrap .card__item img {
  width: 271px;
  height: 354px;
}

.card__wrap .card__item .product__img {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.card__wrap .card__item .product__img:hover .product__button {
  opacity: 1;
  transform: translateY(0);
}

.card__wrap .card__item .product__button {
  position: absolute;
  bottom: 10px;
  transform: translateY(150%);
  transition: all 0.5s;
  opacity: 0;
}

.card__wrap .card__item .card-body {
  line-height: 1.6;
}

.card__wrap .card__item .card-body .card-title {
  color: #707070;
  font-family: "Gothic A1", sans-serif;
  font-weight: 300;
}

.card__wrap .card__item .card-body .card-text {
  color: #4b4b4b;
}

.card__wrap .card__item .card-body .card-star {
  color: #f5b303;
}

.card__wrap .card__item .card-body .card-price {
  color: #e60023;
}

.card__wrap .card__item .card-body .card-price .old__price {
  color: #707070;
  text-decoration: line-through;
  padding-right: 1rem;
}
/*# sourceMappingURL=main.css.map */