.best__seller {
    .container {
        width: 70%;
        margin: 0 auto;
        .best__seller-title {
            text-align: center;
            & h1 {
                font-weight: 500;
            }
            & p {
                color: $color-5;
                font-size: $fs-10;
                padding: $pd-16;
            }
        }

       
    }
}
